<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013204251190-74m7mtno9e3ge4fdie3422hotor5217c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013204251190-74m7mtno9e3ge4fdie3422hotor5217c</string>
	<key>API_KEY</key>
	<string>AIzaSyCNkBLblQKCb9dab_saqq1tbKk0TRya2Hc</string>
	<key>GCM_SENDER_ID</key>
	<string>1013204251190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile</string>
	<key>PROJECT_ID</key>
	<string>fptu-library-booking</string>
	<key>STORAGE_BUCKET</key>
	<string>fptu-library-booking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013204251190:ios:96bc1188be3065fae51e97</string>
</dict>
</plist>